.Home {
    text-align: center;
    padding: 20px;
    
  }
  
  .Home h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(255, 81, 0);
  }
  
  .Home ul {
    list-style: none;
    padding: 0;
  }
  
  .Home li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Home h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Home p {
    font-size: 16px;
    color: #666;
  }
  
  .Home  img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    height: 80%;
    
    text-align: center;
    overflow: auto;
  }
  

  .modal img {
    width: 60%;
    height: 80%;
    
    margin-bottom: 10px;
  }
  .overlay.modal p {
    margin-bottom: 10px;
    color: #eb1e1e;
  }
  .hotel-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hotel-container .slick-slider {
    width: 200px;
    margin-right: 20px;
  }
  
  .hotel-container .hotel-info {
    flex-grow: 1;
  }
  
  


/* Styling for Watch button */
.Home .MakeReservation .watch {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
}

.Home .MakeReservation .watch:hover {
  background-color: #0056b3;
}

/* Styling for Make reservation button */
.Home .MakeReservation .Make {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  
}

.Home .MakeReservation .Make:hover {
  background-color: #1e7e34;
}

  @media (max-width: 768px) {
    /* Styles pour les appareils mobiles */
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles pour les tablettes */
  }
  
  @media (min-width: 1025px) {
    /* Styles pour les ordinateurs de bureau */
  }
  